@charset "UTF-8";

@media screen and (min-width: 1024px) {
    ul#ul-menu {
        right: 15%;
        transform: translate(0%);
        transition: .2s;
    }
    span.material-symbols-outlined {
        position: absolute;
        transform: translate(800%);
        transition: .2s;
    }
    li {
        display: inline-block;
        padding-right: 30px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    img#silverio-ir-logo {
        /*left: 27.5vw;*/
        transform: translate(-150%, 0%);
        transition: .2s;
    }

    main > section#apresentacao {
        background-size: 40vw, contain, cover;
    }
    main > section#apresentacao > div#apresentacao > h1 {
        font-size: calc(38pt + 1vw);
        text-align: left;
        margin-left: calc(10vw - 30px);
    }
    p#apresentacao {
        color: white;
        font-size: calc(20pt + 1vw);
        width: calc(200px + 20vw);
        margin-left: calc(10vw + 30px);
        text-align: left;
    }
}
@media screen and (min-width: 1502px){
    main > section#apresentacao {
        background-size: contain, contain, cover;

    }
}