@charset "UTF-8";

/*  Menu de Navegação
*   
*   
*/  
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: gray;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 100vw;
    overflow-x: hidden;
}
header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    height: 100%;
    display: flex;
}
body > header > menu#menu-tela {
    width: 98vw;
    top: 0px;
    height: 55px;
    background-color: white;
    margin: 0px;
    padding: 27px;
}
img#silverio-ir-logo {
    width: 263px;
    position: absolute;
    left: 45%;
    transform: translate(-50%);
    transition: .2s;
}
ul#ul-menu {
    position: absolute;
    right: 5%;
    list-style-type: none;
    transform: translate(300%);
    margin: 20px;
    font-size: 0.8em;
    transition: .5s;
}
li {
    display: inline-block;
    padding-right: 30px;
}
a {
    color: black;
    text-decoration: none;
}
span.material-symbols-outlined {
    position: absolute;
    right: 10%;
    background-color: rgb(220, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    transition: .2s;
}
span.material-symbols-outlined:hover {
    cursor: pointer;
}

/* Seção de Apresentação*/

main > section#apresentacao {
    background-image: url(../Imagens/Clipped_image_20241104_001659.png), linear-gradient(rgba(243, 124, 26, 0.5), rgba(204, 103, 20, 0.75)), url(../Imagens/curiosidades-sobre-leao2.jpg);
    background-repeat: no-repeat;
    background-position: bottom right, center center, center center;
    background-size: 30vw, contain, cover;
    transform: translate(1px, 110px);
    height: 70vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) inset;
    transition: .5s;
    overflow-y: scroll;
}
div#apresentacao-central {
    position: absolute;
    top: 15%;
}
section#apresentacao > div#apresentacao-central > div#apresentacao {
    transform: translate(21.5%, 10%);
    background-color: white;
    width: calc(45vw + 10px);
    padding: 5px;
    border-radius: 5px 20px;
    box-shadow: 0px 1px 10px white;
    max-width: 700px;
    max-height: 454px;
}
section#apresentacao > div#apresentacao-central > div#apresentacao:hover {
    box-shadow: 0px 1px 30px white;
    transition: .2s;
}
main > section#apresentacao > div#apresentacao-central > div#apresentacao > h1 {
    font-size: calc(10pt + 2vw);
    margin: auto;
    color: black;
    text-align: center;
    font-weight: bolder;
}
p#apresentacao {
    color: black;
    font-size: 3.5vw;
    width: 38vw;
    margin: auto;
    padding-bottom: 15px;
    overflow-block: hidden;
    text-align: center;
    font-weight: 300;
}
div#servicos {
    background-color: white;
    width: 45vw;
    padding: 10px;
    transform: translate(21.5%, 10%);
    margin-top: 100px;
    border-radius: 5px 20px;
    box-shadow: 0px 1px 10px white;
    max-width: 700px;
    max-height: 262px;
}
div#servicos:hover {
    box-shadow: 0px 1px 30px white;
    transition: .2s;
}

div#servicos > p {
    font-size: 3.5vw;
    margin: auto;
    padding: 26px;
    text-align: center;
}
div#servicos > ul#servicos {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}
div#servicos > ul#servicos > a > li {
    margin: auto;
    background-color: rgba(243, 124, 26, 1);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    width: calc(92% + 1vw);
    transition: .2s;
}
div#servicos > ul#servicos > a > li:hover {
    background-color: white;
    color: rgba(243, 124, 26);
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}